body{
	background-color: rgb(242, 242, 242);
    font-family: proxima-nova, sans-serif;
    margin: 0px;
}

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    background: rgb(0, 102, 167);
    transition: all 1s ease-in-out 0s;
}

.header .top-header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 3rem;
    padding: 0rem 1.5rem;
}

.header .pizza-logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 1rem;
}

.header .brand-logo {
    cursor: pointer;
}

.header img.brand-logo{
    width: 45px;
}

.header span{
    color: #F69B17;
    font-size: 25px;
    font-weight: bold;
}

.menu{
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    right: 0px;
    left: 0px;
    width: auto;
    background-color: rgb(255, 255, 255);
    overflow-x: auto;
    height: 2.4em;
    position: fixed;
    z-index: 90;
    padding: 0.3rem 3rem 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
    box-shadow: rgb(210, 221, 233) 5px 5px 5px;
    transition: all 1s ease-in-out 0s;
    margin-top: 3em;
}

.menu .menu-item{
	white-space: nowrap;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1.1em;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-align: center;
    cursor: pointer;
}

.menu .menu-item.active{
	padding-bottom: 1.3em;
    color: rgb(82, 137, 166);
    border-bottom: 0.3em solid rgb(101, 171, 11);
}

.category-container{
	
}